@import "~react-toastify/dist/ReactToastify.css";

.table {
  min-width: 700px;
}

.selectedTableCell {
  width: 70px;
}

.tableCell {
  width: 150px;
  height: 50px;
}

.input-edit {
  width: 150px;
  height: 50px;
}
